__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg
venv/
.venv/
env/
.env
data/config.json
data/certs/mqtt/*.pem
data/certs/mqtt/*.key
data/certs/opcua/*.pem
data/certs/opcua/*.key
telegraf/telegraf.conf
*.log
.DS_Store
